---
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import SearchInline from "@/components/SearchInline.astro";
import { SITE } from "@/config";
import { withBase } from "@/utils/withBase";

const backUrl = SITE.showBackButton
  ? withBase(Astro.url.pathname)
  : withBase("/");
---

<Layout title={`Search | ${SITE.title}`}>
  <Header />
  <Main pageTitle="Search" pageDesc="Search any article ...">
    <SearchInline id="search-page" backUrl={backUrl} />
  </Main>
  <Footer />
</Layout>
